<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="nutrition" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=data\nutrition.mdb"/>
  </connectionStrings>
  <appSettings>
    <add key="ListPrinter" value="OneNote (Desktop)"/>
    <!--<add key="ListPrinter" value="Send To OneNote 2016" />-->
    <add key="ZebraPrinter" value="DASCOM DL-206Z"/>
    <!--<add key="ZebraPrinter" value="Send To OneNote 2016" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
