<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="nutrition" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=data\nutrition.mdb" />
  </connectionStrings>
  <appSettings>
    <add key="ListPrinter" value="EPSON L360 Series" />
    <!--<add key="ListPrinter" value="Send To OneNote 2016" />-->
    <add key="ZebraPrinter" value="OneNote for Windows 10" />
    <!--<add key="ZebraPrinter" value="Send To OneNote 2016" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>